<hmtl> <head> <title>Lista de Mejores Amigos</title> <meta charset="utf-8"> </head> <body>Mejores Amigos:<ul> <li>Tiago Romanelli</li> <li>Juan Ignacio Quiñones</li> <li>Nicolás Celso</li> </ul> <a href="Menu.html">Volver al Menú</a> </body> </hmtl>
